@model NguyenMaiBaoHuy_7564_Tuan3.Models.Sach

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.maloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maloai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tensach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tensach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinh)
        </dt>

        <dd>
            <img class="pt-2 pb-2 img-cover" src="@Html.DisplayFor(model => model.hinh)" alt="thumbnail" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.masach }) |
    @Html.ActionLink("Back to List", "Index")
</p>
